(edif netlist_1_EMPTY
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2022 03 05 22 52 52)
  (program "PlanAhead" (version "10.1.1"))
  (comment "Built on 'Thu Feb  7 21:39:24 PST 2008'")
  (comment "Built by 'hdbuild'")
 )
)
  (Library netlist_1_etc
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell netlist_1_EMPTY (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
       )
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design netlist_1_EMPTY
    (cellref netlist_1_EMPTY (libraryref netlist_1_etc))
  )
)
